
<div class="flex flex-col gap-2 w-1/2 h-full">
    <div class='h-1/3'>
        <%= image_tag @article.image, class: 'w-full' rescue image_tag 'https://i.vimeocdn.com/portrait/1274237_300x300.jpg', class: 'w-full' %>
    </div>
    <h1 class='font-bold text-3xl text-center'><%= @article.title %></h1>
    
    <p class="font-medium text-lg text-justify"><%= @article.body %></p>

    <div class="flex gap-2">
    <%= link_to "Edit", edit_article_path(@article), class: 'link-primary' %>
    <%= link_to "Delete", article_path(@article), data: {
                    method: :delete,
                    confirm: "Are you sure?"
                  }, class: 'link-danger' %>
    </div>
    <h2 class="text-2xl font-bold">Add a Comment:</h2>
    <div>
        <%= form_with model: [@article, @article.comments.build] do |form| %>
            <div class="mb-2">
                <%= form.label :commenter,'Name', class: "block" %>
                <%= form.text_field :commenter, class: "w-full" %>
            </div>
            <div class="mb-2">
                <%= form.label :body, class: "block" %>
                <%= form.text_area :body, class: "w-full resize-none" %>
            </div>
            <div class="flex justify-center">
                <%= form.submit class: "btn-primary" %>
            </div>
        <% end %>
    </div>
    <h2 class="text-2xl font-bold">Comments</h2>
    <div>
    <% @article.comments.each do |comment| %>
        <p class='font-bold'>
            <%= comment.commenter %>
        </p>

        <p class="text-justify">
            <%= comment.body %>
        </p>
    <% end %>
    </div>
</div>